:root
{
    --vermelho: #E50914;
    --preta: #141414;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration:none;
}

body
{
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;

}


header .container
{
    display: flex;
}

header .logo
{
    max-width:150px;
    max-height:50px;
    width: auto;
    height: auto;
}

header nav a
{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover
{
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
}