:root
{
    --vermelho: #E50914;
    --preta: #141414;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration:none;
}

/*elementos base*/
body
{
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;

}


header .container
{
    display: flex;
    flex-direction: row;  /*defult alinhamento em linha.*/
    align-items: center;
    justify-content: space-between;
    margin: 5px;
}

header .logo
{
    max-width:150px;
    max-height:50px;
    width: auto;
    height: auto;
}

header nav a
{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;

}

header nav a:hover
{
    color: #fff;
}

/*filme principal*/
.filme-principal
{
    font-size: 16px;
    background: url("/img/capas/capa-house.jpg");
    min-height: 400px;
    height: auto;
    background-size: cover;

}