<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image.png" href="/static/img/icon.png">
        
        <!--main css-->
        <link rel="stylesheet" href="/static/style/main.css">

        <!--login css-->
        <link rel="stylesheet" href="/static/style/login.css">

        <!--responsive css-->
        <link rel="stylesheet" href="/static/style/responsive.css">

        <!-- owl css-->
        <link rel="stylesheet" href="/static/style/owl/owl.carousel.min.css">
        <link rel="stylesheet" href="/static/style/owl/owl.theme.default.min.css">



        <title>TuneBeee</title>
    </head>
    <body>

        {% block content %} {% endblock %}
    
    </body>

    <!--awesome js-->
    <script src="https://kit.fontawesome.com/14133cec15.js" crossorigin="anonymous"></script>

    <!--owl js-->
    <script src="/static/js/owl/jquery.min.js"></script>
    <script src="/static/js/owl/owl.carousel.min.js"></script>
    <script src="/static/js/owl/setup.js"></script>

</html>