{% extends 'base.html' %}
{% block content %} 

    <div class="container-conteudo">
        <div class="box-logo-conteudo">
            <img class="logo_log" src="/static/img/logo.png" alt="logo">
        </div>
    
        <div class="embed">
            <iframe src="https://www.youtube.com/embed/sjrd0vr_9XM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    
        <div class="voltar">
            <a href="/index">
                <button type="submit">Voltar</button>
            </a>
        </div>
    </div>

{% endblock %}