{% extends 'base.html' %}
{% block content %} 

<div class="container-conteudo">
    <div class="box-logo-conteudo">
        <img class="logo_log" src="/static/img/logo.png" alt="logo">
    </div>

    <div class="embed-descricao">
        Abel Makkonen Tesfaye (Toronto, 16 de fevereiro de 1990), mais conhecido por seu nome artístico the Weeknd, é um cantor, compositor, ator e produtor musical canadense. Ele ajudou a expandir a paleta musical do R&B, ao incorporar influências indie e de música eletrônica; seu trabalho é classificado como R&B alternativo.

        Em 2010, ele disponibilizou anonimamente várias canções no YouTube sob o nome "The Weeknd" e, em 2011, lançou as aclamadas mixtapes House of Balloons, Thursday, e Echoes of Silence. Suas mixtapes foram posteriormente remasterizadas e relançadas na coletânea Trilogy (2012).

        O cantor já teve quatro álbuns de estúdio número 1 (Beauty Behind the Madness, em 2015; Starboy, em 2016; My Dear Melancholy,, em 2018; e After Hours, em 2020), e um no. 2 (Kiss Land, em 2013) na parada estadunidense Billboard 200. Tesfaye já teve dez canções que chegaram ao top 10 na Billboard Hot 100: "Love Me Harder", com Ariana Grande; "Earned It"; "I Feel It Coming"; "Pray for Me", com Kendrick Lamar; "Call Out My Name"; além das cinco que chegaram à primeira posição "The Hills", "Can't Feel My Face", "Starboy", "Heartless" e "Blinding Lights". Em 2015, ele se tornou o primeiro artista a ocupar simultaneamente as três primeiras posições da parada estadunidense Billboard R&B Songs com "Can't Feel My Face", "Earned It" e "The Hills".

        Tesfaye já ganhou três prêmios Grammy, oito Billboard Music Awards, dois American Music Awards, nove Juno Awards, e foi indicado a um Oscar. Ele já vendeu mais de 70 milhões de discos nos Estados Unidos, tornando-se um dos artistas de maior venda do mundo.
    </div>
    <div class="voltar">
        <a href="/index">
            <button type="submit">Voltar</button>
        </a>
    </div>
</div>

{% endblock %}