<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image.png" href="/static/img/icon.png">
        
        <!--main css-->
        <link rel="stylesheet" href="/static/style/main.css">

        <!--login css-->
        <link rel="stylesheet" href="/static/style/login.css">

        <!--responsive css-->
        <link rel="stylesheet" href="/static/style/responsive.css">

        <!-- owl css-->
        <link rel="stylesheet" href="/static/style/owl/owl.carousel.min.css">
        <link rel="stylesheet" href="/static/style/owl/owl.theme.default.min.css">



        <title>TuneBeee</title>
    </head>
    <body>
        <div class="container">
            <div class="boxlog_um">
                <img class="logo_log" src="/static/img/logo.png" alt="logo">
            </div>
            <div class="boxlog_dois">
                <form action="/formlogin", method="POST">
                    <div class="box-input">
                        <label for="login"><b>Usuário</b></label>
                        <input type="text" placeholder="Digite o seu usuário" name="login" required>
                    </div>
                    <div class="box-input">
                        <label for="password"><b>Senha</b></label>
                        <input type="password" placeholder="Digite sua senha" name="password" required>
                    </div>
                    {{mensagem}}
                    <div class="entar">
                        <button type="submit">Entar</button>
                        <br>
                        <label>
                            <input type="checkbox" checked="checked" name="remember"> Remember me
                        </label>
                    </div>
                </form>
            </div>
        </div>
    
    </body>

    <!--awesome js-->
    <script src="https://kit.fontawesome.com/14133cec15.js" crossorigin="anonymous"></script>

    <!--owl js-->
    <script src="/static/js/owl/jquery.min.js"></script>
    <script src="/static/js/owl/owl.carousel.min.js"></script>
    <script src="/static/js/owl/setup.js"></script>

</html>




